#body {
 background-color: rgb(3, 1, 1);
    
}
.container {
   
    color: rgb(240, 245, 248);
    text-shadow: .5px .5px rgb(51, 214, 255);
    text-align: center;
    background-size:cover;
   
 }
 #gotTrivia, #ins{
    text-align: center;
 }

 #buttDiv{
     margin-top:20px;
     text-align: center;
 }
 #counter{
     text-align: center;
 }
 #subwrapper{
     text-align: center;
 }
 .btn-danger{
     color: black;
 }
 button{
     color:black;
 }
 #wrapper{
     border: 4px rgb(90, 8, 8) solid;
     margin-top: 2px;
 }
 #start{
     margin-top: -38px;
     padding-bottom: 12px;
 }
 a{
     text-shadow: 1px 1px black;
     color: white;
 }
